
@using UI.Controllers;
@using UI.Models;
@using MongoDB.Driver;
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    
    if (Session["userid"] != null)
    {
        MongoContext mc = new MongoContext();
        ViewBag.Name = mc.Administradores.Find(c => c.Cedula.Equals(Session["userid"])).FirstOrDefault().Nombre;

        <div class="jumbotron" style="margin-top:50px">
            <h1 class="display-4">Hola @ViewBag.Name bienvenido a la consola administrativa</h1>
            <p class="lead">Esta es la consola administrativa de la tienda WishCR, en la cual podras manejar los productos actuales de la tienda, asi como los clientes y usuarios que poseen acceso a esta plataforma</p>
            <hr class="my-4">
            <p>Para acceder a los controles da click en cualquier opcion del menu</p>
            <i class="fa fa-arrow-left"></i>
        </div>
    }
    else
    {
        Response.Redirect("~/Auth/LoginAdmin");
    }
}



